server:
  port: 3000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dgh?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  redis:
    host: localhost
    port: 6379

mybatis-plus:
  type-handlers-package: com.example.dgh.config
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.example.dgh: info
